* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

.cabecalho {
    width: 1440px;
    height: 80px;
    background: #0B0F19;
    display: flex; 
    flex-direction: row;    
    align-items: center;    
    justify-content: center; 
    gap: 30px;              
}

.marca h1, h2, h3, h4, h5 {

    display: flex; 
    flex-direction: row; 
    color: #FBFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


body {
    font-family: Verdana, Roboto;
    text-align: center;
    background-color: #e6e6df;
    color: rgb(255, 254, 254); 
    line-height: 1.5;
    margin-top: 5px;
    
}

.img-F250{
    width: 450px;
    height: 450px;
}